<main class="">
	<section>
		<div class="title text-center">
			<h1>Truck Control Panel</h1>
		</div>

		<div class="alert alert-dismissible text-center" role="alert" ng-if="panelCtrl.error.message" ng-class="{ 'temperature-hot': panelCtrl.error.isOutOfMaximun,'temperature-cold': panelCtrl.error	.isOutOfMinimun}">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="panelCtrl.closeMessageError()"><span aria-hidden="true">&times;</span></button>
				<span class="message">{{panelCtrl.error.message}}</span>
		</div>

		<div class="row col-md-offset-2">
			<div ng-class="{ 'temperature-hot': thermostat.isOutOfMaximun,'temperature-cold': thermostat.isOutOfMinimun}"  class="panel panel-default col-md-3 card-panel" ng-repeat="thermostat in panelCtrl.thermostats track by thermostat.codigo">
				<div class="panel-body">
					<div >
						<h1 class="text-center">{{thermostat.name}}</h1>
						<h2 class="text-center">{{thermostat.temperature}}°C</h2>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
				<a href="#" class="btn btn-default" role="button" ng-click="panelCtrl.simulateFallingTemperature()">Simulate Falling Temperature</a> 
				<a href="#" class="btn btn-default" role="button" ng-click="panelCtrl.simulateIncreasingTemperature()">Simulate Increment Temperature</a>
				<a href="#" class="btn btn-default" role="button" ng-click="panelCtrl.initializeTruckPanel()">Default Values</a>
			</div>	
		</div>
	</section>
</main>